<h1>{{mode}} Project</h1>
<form role="form" >
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" ng-model="project.name" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="start">Start</label>
        <input type="date" class="form-control" ng-model="project.start" id="start" placeholder="Start Date">
    </div>
    <div class="form-group">
        <label for="end">End</label>
        <input type="date" class="form-control" ng-model="project.end" id="end" placeholder="End Date">
    </div>
    <button ng-click="save(project)" class="btn btn-default">Submit</button>
</form>

