<h1>Items <span ng-show="iteration">- {{iteration.name}}</span></h1>

<apmt-confirm 
	ng-show="removing"
	message="Are you sure you want to remove this Item?"
	on-positive="confirmRemove()"
	on-negative="closeConfirm()"
></apmt-confirm>

<p ng-show="loading">
	Loading...
</p>

<p ng-show="(!loading && !items.length)">No items :(</p>

<a href="#/items/save" class="btn btn-success">Add New Item</a>

<br/><br/>

 	<button ng-disabled="pageSkip == 0" ng-click="pageSkip = pageSkip - 1">Previous</button>
    <button ng-disabled="pageSkip >= pageDataLength/pageLimit - 1" ng-click="pageSkip = pageSkip + 1">Next</button>

<table ng-show="items.length" class="table table-bordered table-striped table-bordered">
	<thead>
		<tr>
			<th>Title</th>
			<th>Status</th>
			<th>Iteration</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in items | startFrom:pageSkip*pageLimit | limitTo:pageLimit">
			<td>{{item.title}}</td>
			<td>{{item.status | humanize}}</td>
			<td>{{item.iteration.name}}</td>
			<td>
				<div class="btn-group">
					<a class="btn btn-xs btn-default" href="#/items/save/{{item.id}}">Edit</a>
					<button class="btn btn-xs btn-danger" ng-click="remove(item.id)">Remove</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<br/><br/>

    
    <br />
    User Model: <pre ng-bind="toJ(items)"></pre>
